@page "/login"
@inject NavigationManager NavigationManager
@inject AuthClientService authClientService

<div class="col-12 col-md-5 col-lg-4">
	<div class="card card-shadow border-0 rounded-3">
		<div class="card-body p-4">
			@* the starting point*@
			@if (!DeviceCheckFlag)
			{
				<div class="row g-6">
					<div class="col-12">
						<div class="text-center">
							<h3 class="fw-bold fs-5 mb-2">Sign In</h3>
							<p class="text-muted">Login to your Account</p>
						</div>
					</div>
				</div>
				<EditForm Model="Model" OnValidSubmit="Submit">
					@* this what activate validation process *@
					<DataAnnotationsValidator />

					<div class="form-floating mb-4 bo">
						<InputText @bind-Value="Model!.Email"
								   class="form-control rounded-2 border-1"
								   id="email"
								   type="email"
								   placeholder="" />

						<label for="email">Email</label>
						<ValidationMessage For="() => Model!.Email" />
					</div>

					<div class="form-floating mb-4">
						<InputText @bind-Value="Model!.Username"
								   class="form-control rounded-2 border-1"
								   id="username"
								   type="text"
								   placeholder="" />
						<label for="username">Username</label>
						<ValidationMessage For="() => Model!.Username" />
					</div>

					<div class="form-floating mb-4">
						<InputText @bind-Value="Model!.Password"
								   class="form-control rounded-2 border-1"
								   id="password"
								   type="password"
								   placeholder="" />
						<label for="password">Password</label>
						<ValidationMessage For="() => Model!.Password" />
					</div>

					<button type="submit" class="btn btn-primary w-100 rounded-2 mb-3">
						Sign In
					</button>
				</EditForm>
			}
			else
			{
				<DeviceVerificationComponent OtpQuestionId="@OtpQuID"></DeviceVerificationComponent>
			}		
		</div>
	</div>
</div>


@code {
	// [SupplyParameterFromForm]
	private LoginRequestDTO? Model { get; set; }
	protected override void OnInitialized() => Model ??= new();
	private bool DeviceCheckFlag = false;
	private Guid? OtpQuID = Guid.Empty;

	private async Task Submit()
	{
		var response = await authClientService.DoLogin(Model!.Email,Model!.Username,Model!.Password);
		if(response == null)
			Console.WriteLine($"Login failed : nullable response Error");
		else
		{
			if (response.IsSuccess)
			{
				NavigationManager.NavigateTo("/");
			}
			else
			{
				if (response.OtoQuestionId == null || response.OtoQuestionId == Guid.Empty)
					Console.WriteLine($"Login failed : {response.Errors}");
				else
				{
					Console.WriteLine($"Otp has been sent : {response.OtoQuestionId}");
					OtpQuID = response.OtoQuestionId;
					DeviceCheckFlag = true;
				}
			}
		}
	}
}
